* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // background: linear-gradient(135deg, #0f1115, #151923);
  background-color: #0F1214;
  color: #ffffff;

  color: whitesmoke;
}

a {
  text-decoration: none;
  color: black;
}

// loading
.loading_wrapper {
  height: 100vh;
  background: #0f1214;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
  }
}

.logo span {
  color: #f7c948;
  text-shadow: 0 0 10px rgba(247, 201, 72, 0.7);
}

.loader {
  display: flex;
  gap: 10px;
}

.loader span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f7c948;
  animation: bounce 1.4s infinite ease-in-out both;
  box-shadow: 0 0 10px rgba(247, 201, 72, 0.8);
}

.loader span:nth-child(1) {
  animation-delay: -0.32s;
}
.loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
